.profile {
  text-align: center;
  margin-bottom: 20px;
  color: #666
}

.circleImage {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.intro {
  text-align: justify;
}
