---
import PostList from '@components/PostList.vue'
import { getPublishedBlogEntries } from '@helpers/blog'
import Footer from '@layouts/Footer.vue'
import Header from '@layouts/Header.vue'
import Layout from '@layouts/Layout.astro'
import metadata from '@metadata.json'

const blogEntries = await getPublishedBlogEntries()
const posts = blogEntries.map((entry) => ({
  ...entry.data,
  url: `/posts/${entry.slug}`,
}))
---

<Layout title={metadata.pageTitle}>
  <Header />
  <main class="max-w-[70ch] mx-auto">
    <PostList posts={posts} />
  </main>
  <Footer />
</Layout>
